@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', sans-serif;
  line-height: 2.5;
  background: beige;
}

.container {
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  text-align: center;
  max-width: 800px;
}


.header {
  text-align: center;
}

h2 {
  font-size: 1rem;
}

/* Scoreboard styling */
.score {
  display: grid;
  grid-template-columns: 4fr 2fr 4fr;
  font-size: 0.7rem;
  color: #fff;
}

.score p:first-child {
  background: royalblue;
  margin: 0;
}

.score p:nth-child(2) {
  margin: 0;
  background: black;
}

.score p:last-child {
  background: rgb(156, 73, 86);
  margin: 0;
}
/* Scoreboard styling */

/* Player and Computer choices styling */
.choices {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.player-choices {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.player-choices img {
  align-self: center;
  margin: 1rem;
  padding: 0.1rem;
  border-radius: 50%;
  border: 0.5rem solid transparent;
  transition: all .2s ease-in-out;



}

.player-choices img:first-child:hover {
  border: 0.5rem solid rgb(151, 192, 236);
  border-radius: 50%;
  transform: scale(1.1);
}

.player-choices img:nth-child(2):hover {
  border: 0.5rem solid rgb(209, 150, 98);
  border-radius: 50%;
  transform: scale(1.1);
}

.player-choices img:last-child:hover {
  border: 0.5rem solid rgb(244, 182, 185);
  border-radius: 50%;
  transform: scale(1.1);
}

.comp-choices {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.comp-choices img {
  margin: 1rem;
  padding: 0.1rem;
  align-self: center;
  border: 0.5rem solid transparent;
}

/* Player and Computer choices styling */
